/*General Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

  body{
    height: 100vh;
    background: url(project-5-img.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  #add-task-container{
    width: 350px;
    padding: 20px 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    margin-bottom: 20px;
    border-width: 7px;
  
    display: flex;
  }

  .header{
    font-size: 1.2rem;
    border: solid 7px black;
    color: black;
    background-color: white;
    padding: 5px;
    width: 95%;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
  }

  input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
    border-width: 3px;
    border-color: black;
  }

  #add-task{
    flex: 1;
    transition: .3s;

    font-size: 1.2rem;
    padding: 5px;

    background-color: #fff;
    color: green;

    border: green solid 2px;
    border-radius: 10px;
    border-width: 3px;
  }

  #add-task:hover{
    background-color: green;
    color: #fff;
  }

  /* Styling for task which get added to to-do list */
  .task{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;

    padding: 5px;
    margin-bottom: 5px;
    
    display: flex;
    justify-content: space-around;
  }

  .task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
  }

  .task button{
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
  }

  .task .checkTask{
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
  }

  .task .checkTask:hover{
    background-color: orange;
    color: #fff;
  }

  .task .deleteTask{
    color: red;
    margin-right: 5px;
    border: solid 2px red;
    font-size: 1.3rem;
  }

  .task .deleteTask:hover{
    background-color: red;
    color: #fff;
  }
